.banner { 
  margin-top: 15px;
  opacity: 0.9;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  height: 100px;
  margin-bottom: 15px;
}

.banner h1 {
  text-align: center;
  font-size: 40px;
  color: white;
  padding-top: 25px;
}

