.cpucompare-container {
    height: 1400px;
    background-color: black;
    opacity: 0.96;
  }
  
  .gpucompare-container {
    height: 1700px;
    background-color: black;
    opacity: 0.96;
  }
  
  .mobocompare-container {
    height: 1500px;
    background-color: black;
    opacity: 0.96;
  }
  
  .ramcompare-container {
    height: 1200px;
    background-color: black;
    opacity: 0.96;
  }
  
  .storagecompare-container {
    height: 1200px;
    background-color: black;
    opacity: 0.96;
  }
  
  .powercompare-container {
    height: 1250px;
    background-color: black;
    opacity: 0.96;
  }
  
  .coolercompare-container {
    height: 1150px;
    background-color: black;
    opacity: 0.96;
  }
  
  .casingcompare-container {
    height: 1450px;
    background-color: black;
    opacity: 0.96;
  }

  .pcbuildcompare-container {
    height: 1300px;
    background-color: black;
    opacity: 0.96;
  }
    
  .parts-compare-preview { 
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .parts-compare-price {
    background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    padding-top: 10px;
  }
  
  .parts-compare-image {
    width: 300px;
    height: 300px;
  }

  .cpu-column-1 {
    margin-right: 0px;
  }
  
  .parts-compare-table { 
    width: 100%;
    height: 500px;
    background: black;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .parts-compare-table table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
    border-bottom: white;
  }
  
  .parts-compare-table th {
    padding: 15px;
    background: #565676;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
    text-align: center;
  }
  
  .parts-compare-cell-1 {
    padding: 20px;
    border-bottom: 1px solid white;
    background: #534B62;
    color: white;
    font-size: 16px;
  }
  
  .parts-compare-cell-2 {
    padding: 20px;
    border-bottom: 1px solid white;
    background: #005f69;
    color: white;
    font-size: 16px;
  }
  
  .detail-column {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
    
    
    