.parts-container {
  height: 1000px;
  width: 100%;
  background-color: black;
  color: white;
  opacity: 0.96;
  display: flex;
}

.parts-table {
  width: 100%;
  height: 800px;
  background: black;
  margin-left: auto;
  margin-right: 20px; 
  padding: 20px;
  margin-top: 10px;
}

.parts-container table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  border-bottom: white;
}

.parts-container th {
  padding: 15px;
  background: #565676;
  border-bottom: 1px solid white;
}

.parts-container td {
  padding: 15px;
  border-bottom: 1px solid white;
  background: #534B62;
}

.price {
  text-align: left;
}

.view-button {
  background-image: linear-gradient( 109.6deg,  rgba(238,58,136,1) 11.2%, rgba(128,162,245,1) 91.1% );;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 18px;
  margin: 4px 2px;
  transition: 0.5s;
  cursor: pointer;
}

.view-button span {
  cursor: pointer;
  transition: 0.4s;
  padding-left: 10px;
}

.view-button span:after {
  content: '\00bb';
  opacity: 0;
  top: 0;
  transition: 0.3s;
}

.view-button:hover span {
  padding: 10px;
}

.view-button:hover span:after {
  opacity: 1;
  right: 0;
}

.view-button:focus {
  outline: 0;
}






