.cpuparts-detail-container {
  height: 1200px;
  background-color: black;
  opacity: 0.96;
}

.gpuparts-detail-container {
  height: 1630px;
  background-color: black;
  opacity: 0.96;
}

.moboparts-detail-container {
  height: 1400px;
  background-color: black;
  opacity: 0.96;
}

.ramparts-detail-container {
  height: 1000px;
  background-color: black;
  opacity: 0.96;
}

.storageparts-detail-container {
  height: 1000px;
  background-color: black;
  opacity: 0.96;
}

.powerparts-detail-container {
  height: 1100px;
  background-color: black;
  opacity: 0.96;
}

.coolerparts-detail-container {
  height: 1000px;
  background-color: black;
  opacity: 0.96;
}

.casingparts-detail-container {
  height: 1330px;
  background-color: black;
  opacity: 0.96;
}
  
.parts-detail-preview { 
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parts-preview-a {
  margin-right: 50px;
  text-align: right;
  padding-top: 260px;
}

.parts-price {
  background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}

.parts-image {
  width: 300px;
  height: 300px;
}

.parts-detail-table { 
  width: 100%;
  height: 500px;
  background: black;
  padding-left: 50px;
  padding-right: 50px;
}

.parts-detail-table table {
  width: 80%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
  border-bottom: white;
}

.parts-detail-table th {
  padding: 15px;
  background: #565676;
  border-bottom: 1px solid white;
  color: white;
  font-size: 18px;
}

.parts-table-cell {
  padding: 20px;
  border-bottom: 1px solid white;
  background: #534B62;
  color: white;
  font-size: 18px;
}

.parts-table-name {
  padding: 20px;
  border-bottom: 1px solid white;
  background: #534B62;
  color: white;
  font-size: 22px;
}

.detail-column {
  width: 100%;
  margin-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
  
  
  