.user-container {
  height: 950px;
  background-color: black;
  opacity: 0.9;
}

.user-form {
  padding-top: 50px;
  padding-left: 100px;
}

.form-label {
  color: white;
  font-size: 20px;
}

.right-margin {
  margin-right: 80px;
}

.right-margin-small {
  margin-right: 40px;
}




