.order-details-container {
    height: 1350px;
    background-color: black;
    opacity: 0.96;
  }
  
  .order-details-preview { 
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .order-details-name {
    background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
  }

  .status-preview {
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 20px;
  }

  .order-details table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
  }
  
  .order-details table td, .order-details table th {
    padding: 15px;
    background: #565676;
    border-bottom: 1px solid white;
    color: white;
  }
  
  .order-details table th {
    white-space: nowrap;
    font-weight: 300;
    font-size: 18px;
  }
  
  .order-details table td h3 {
    margin: 0;
    font-weight: bold;
    color: white;
    font-size: 22px;
  }
  
  .order-details table .qty,.order-details table .total {
    text-align: right;
    font-size: 1.2em;
  }

  .unit {
    text-align: left;
  }
  
  .order-details table .no {
    color: #fff;
    font-size: 1.6em;
    background: #367588;
  }
  
  .order-details table .unit {
    background: #367588;
  }
  
  .order-details table .total {
    background: #367588;
    color: #fff
  }
  
  .order-details table tbody tr:last-child td {
    border: none
  }
  
  .order-details table tfoot td {
    background: 0 0;
    border-bottom: none;
    white-space: nowrap;
    text-align: right;
    padding: 10px 20px;
    font-size: 1.2em;
    border-top: 1px solid #aaa
  }
  
  .order-details table tfoot tr:first-child td {
    border-top: none
  }
  
  .order-details table tfoot tr:last-child td {
    color: white;
    font-size: 30px;
    border-top: 1px solid #367588;
  }
  
  .order-details table tfoot tr td:first-child {
    border: none
  }
  
  .detail-column {
    width: 100%;
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .orders-type {
    color: #ffff66;
    font-size: 20px;
  }

  .order-details-content {
    color: white;
    font-size: 23px;
  }

  .cancel-button {
    margin-left: 100px;
  }
  
  