.order-container {
  height: 1200px;
  background-color: black;
  opacity: 0.90;
}

.order-table {
  width: 100%;
  height: 800px;
  margin-left: auto;
  margin-right: 20px; 
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  margin-top: 10px;
  text-align: center;
}

.order-container table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  border-bottom: white;
  color: white;
}

.order-container th {
  padding: 15px;
  background: #565676;
  border-bottom: 1px solid white;
}

.order-container td {
  padding: 15px;
  border-bottom: 1px solid white;
  background: #534B62;
}

.order {
  text-align: center;
}

.view-order-button {
  background-image: linear-gradient( 109.6deg,  rgba(238,58,136,1) 11.2%, rgba(128,162,245,1) 91.1% );;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 18px;
  margin: 4px 2px;
  transition: 0.5s;
  cursor: pointer;
}

.view-order-button span {
  cursor: pointer;
  transition: 0.4s;
  padding-left: 10px;
}

.view-order-button span:after {
  content: '\00bb';
  opacity: 0;
  top: 0;
  transition: 0.3s;
}

.view-order-button:hover span {
  padding: 10px;
}

.view-order-button:hover span:after {
  opacity: 1;
  right: 0;
}

.view-order-button:focus {
  outline: 0;
}

.pending-status { 
  border-radius: 8px;
  background: #FFC72C;
  height: 50px;
  padding: 10px;
  color: black;
}

.processing-status { 
  border-radius: 8px;
  background: #76ABDF;
  height: 50px;
  padding: 10px;
  color: white;
}

.complete-status { 
  border-radius: 8px;
  background: #7FFF00;
  height: 50px;
  padding: 10px;
  color: black;
}

.cancel-status {
  border-radius: 8px;
  background: #D2122E;
  height: 50px;
  padding: 10px;
  color: white;
}