.header { 
  color: whitesmoke;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  width: 100%;
  height: 90px; 
  display: inline-block;
  margin-bottom: -6px;
}

body {
  margin: 0;
}

.header-brand {
  width: 100px;
  float: left;
  height: 100px;
}

.header-brand img {
  width: 60px; 
  height: 60px;
  display: inline-block;
}

.logo {
  display: inline-block;
  margin: 20px;
}

.brand-name {
  font-size: 23px;
  display: inline-block;
}

.brand-name a {
  color: white;
}

.brand-name a:hover {
  color: white;
  text-decoration: none;
}

.auth-header { 
  width: 100px;
  float: right;
  height: 100px;
  padding-right: 20px;
  text-align: right;
}

.profile-logo img {
  display: inline-block;
  // position: relative;
  width: 60px; 
  height: 60px;
  margin-top: 15px;
  margin-right: 10px;
  padding: 0px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  text-align: left;
  position: absolute;
  color: black;
  background-color: #F0F8FF;
  min-width: 160px;
  padding: 12px 16px;
  right: 0;
  z-index: 1;
  border-radius: 8px;
}

.droplink a {
  color: black;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 18px;
}

.droplink a:hover {
  color: #48D1CC;
  text-decoration: none;
}

.profile-logo:hover .dropdown-content {
  display: block;
}

.logout {
  height: 30px;
}

.logout a {
  color: white;
  font-size: 20px;
  margin-top: 30p
}

.logout a:hover {
  color: white;
  text-decoration: none;
}

.navigation-bar ul { 
  list-style: none;
}

.navigation-bar ul { 
  list-style: none;
  background: #2c2c2e;
  text-align: center;
  padding: 0;
  margin: 0;
  opacity: 0.8;
}

.navigation-bar li {
  display: inline-block;
}

.navigation-bar a {
  text-decoration: none;
  color: #fff;
  width: 200px;
  display: block;
  padding: 15px;
  font-size: 21px;
}

.navigation-bar a:hover { 
  text-decoration: none;
  color: #fff;
  background: black;

}

