.main {
  height: 100%
}

.main-container { 
  margin-top: 40px;
  opacity: 0.8;
  background-color: black;
  height: 450px;
  margin-bottom: 60px;
}

.main-container h1 {
  text-align: center;
  font-size: 50px;
  color: white;
  padding-top: 20px;
}

.main-container h3 { 
  margin-left: 300px; 
  margin-top: 20px;
  color: white;
}

.info-row {
  height: 20px;
}

.info p {
  margin-left: 300px;
  display: inline-block;
  color: white;
  font-size: 20px;
  height: 50px;
  width: 500px;
}

.promises-container {
  height: 1000px;
  background-color: black;
  padding-top: 20px;
  opacity: 0.85;
  padding-left: 100px;
  padding-right: 100px;
}

.promises-container h1 {
  text-align: center;
  font-size: 50px;
  color: white;
  margin-bottom: 50px;
}

.promises-container p { 
  color: white;
  padding: 40px;
  text-align: center;
  margin-top: 140px;
}

.column {
  float: left;
  width: 25%;
  margin-top: 10px;
  padding: 10px;
  height: 350px; /* Should be removed. Only for demonstration */
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.column img {
  height: 180px;
  width: 180px;
  padding: 15px;
  display: flex;
  position: absolute;
  margin: auto auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 5;
  max-height: 100%;
  max-width: 100%;
}


