.promo-container {
  height: 1000px;
  background-color: black;
  opacity: 0.9;
  position: relative;
}

.promo-container img {
  max-height: 100%;
  max-width: 100%;
  height: 600px;
  width: 600px;
  position: absolute;
  margin: auto auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: 50px;
  max-height: 100%;
  max-width: 100%;
}

.promo-name {
  color: white;
}