.cat-container {
  height: 800px;
  background-color: black;
  padding-top: 20px;
  opacity: 0.85;
  padding-left: 100px;
  padding-right: 100px;
}

.cat-container h1 {
  color: white;
  text-align: center;
}

.cat-column {
  float: left;
  width: 25%;
  margin-top: 20px;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
  display: block;
}

.cat-column h1 { 
  color: white;
  text-align: center;
  font-size: 30px;
  margin-top: 230px;
}

.cat-column img {
  height: 180px;
  width: 180px;
  padding: 10px;
  display: flex;
  position: absolute;
  margin: auto auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  max-height: 100%;
  max-width: 100%;
}

.cat-column:hover { 
  background-color: #507380;
  .cat-column h1:hover {
    color: black;
  }
}

