.other-category {
  width: 200px;
  height: 500px;
  background: black;
  padding-top: 20px;
  padding-left: 8px;
}
  
.other-category h5 {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 30px;
}

.other-category ul {
  margin-right: 10px;
}

.other-category a {
  color: yellow;
}

.other-category a:hover { 
  color: #10e3eb;
}

.parts-compare-container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row-reverse;
}
  
.parts-compare-button {
  background-image: linear-gradient( 109.6deg,  rgba(238,58,136,1) 11.2%, rgba(128,162,245,1) 91.1% );;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 10px;
  transition: 0.5s;
  cursor: pointer;
}
  
.parts-compare-button span {
  cursor: pointer;
  transition: 0.4s;
  padding-left: 18px;
}
  
.parts-compare-button span:after {
  content: '\00bb';
  opacity: 0;
  top: 0;
  transition: 0.3s;
}
  
.parts-compare-button:hover span {
  padding: 10px;
}
  
.parts-compare-button:hover span:after {
  opacity: 1;
  right: 0;
}

.parts-compare-button:focus {
  outline: 0;
}