.pcbuild-container {
  height: 1100px;
  background-color: black;
  opacity: 0.96;
}

.build-preview { 
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-a {
  margin-right: 50px;
  text-align: right;
  padding-top: 170px;
}

.build-name {
  background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
}

.build-price {
  color: white;
  font-size: 40px;
}

.build-image {
  width: 300px;
  height: 300px;
}

.build-table { 
  width: 100%;
  height: 500px;
  background: black;
  padding-left: 50px;
  padding-right: 50px;
}

.build-table table {
  width: 80%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
  border-bottom: white;
  font-size: 18px;
}

.build-table th {
  padding: 15px;
  background: #565676;
  border-bottom: 1px solid white;
  color: white;
}

.build-table td {
  padding: 20px;
  border-bottom: 1px solid white;
  background: #534B62;
  color: white;
}

.detail-column {
  width: 100%;
  margin-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
}


