.pcbuilds-container { 
  height: 1500px;
  width: 100%;
  background-color: black;
  opacity: 0.88;
  display: inline-block;
  text-align: center;
  padding-top: 30px;
}

.card-column {
  float: left;
  width: 25%;
  padding: 20px;
  height: 700px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card {
  width: 500px;
  border-radius: 5px 5px 0 0;
  display: flex;
  position: absolute;
  margin: auto auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  max-height: 100%;
  max-width: 100%;
}

.card-image {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;

}

.card-content {
  width: 100%;
  background: white;
  border-radius: 5px 5px 0 0;
  height: 20%;
  opacity: 1;
}

.card-title {
  font-size: 28px;
  text-align: left;
  margin-top: 5px;
  margin-left: 10px;
}

.card-detail {
  margin-left: 10px;
  height: 80px;
  text-align: left;
}

.card-price {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.a {
  text-align: left;
  font-size: 12px;
  padding-left: 10px;
}

.card-pricing {
  background: -webkit-linear-gradient(#FF512F 0%, #DD2476 51%, #FF512F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
}

.b {
  position: absolute;
  right: 0;
  margin-top: 15px;
}

.card-button {
  background-image: linear-gradient( 109.6deg,  rgba(238,58,136,1) 11.2%, rgba(128,162,245,1) 91.1% );;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 18px;
  margin-right: 8px;
  transition: 0.5s;
  cursor: pointer;
}

.card-button span {
  cursor: pointer;
  transition: 0.4s;
  padding-left: 18px;
}

.card-button span:after {
  content: '\00bb';
  opacity: 0;
  top: 0;
  transition: 0.3s;
}

.card-button:hover span {
  padding: 10px;
}

.card-button:hover span:after {
  opacity: 1;
  right: 0;
}

.card-button:focus {
  outline: 0;
}

.card-button a {
  text-decoration: none;
}



