.build-container { 
  background-color: black;
  opacity: 0.8;
  color: white;
  height: 1320px;
  display: flex;
}

.build-form { 
  padding-top: 150px;
  padding-left: 100px;
}

.build-label { 
  font-size: 25px;
}

.btn {
  margin-top: 50px;
}

.form-control { 
  margin-bottom: 20px;
}

.preview-image img {
  height: 320px; 
  width: 320px;  
  padding: 15px;
  display: flex;
  position: absolute;
  margin: auto auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 5;
  margin-top: 30px;
}

.preview-content { 
  background-color: white;
  color: black;
  height: 700px;
  width: 600px;
  position: absolute;
  margin: auto auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 5;
  margin-top: 380px;
}

.preview-name {
  padding-left: 10px;
  padding-top: 3px;
  font-size: 28px;
}

.preview-price { 
  color: #6f23a8;
  margin-top: 20px;
  padding-right: 20px;
  text-align: right;
  font-size: 35px;
}

.preview-details { 
  margin-top: 30px;
  padding-left: 15px;
  color: black;
  font-size: 25px;
}

.preview-label {
  margin-top: 30px;
  font-size: 20px;
}

.label-content {
  font-weight: normal;
}

.label-below {
  font-size: 19px;
}
