.quotation-container { 
  height: 1300px;
  background-color: black;
  color: white;
  opacity: 0.97;
}

.quotation-container h1 {
  text-align: left;
  padding-top: 20px;
  padding-left: 30px;
}

.quotation { 
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
}

.quotation-header {
  color: white;
}

.quotation-backButton {
  margin-left: 30px;
  margin-bottom: 20px;
}

.quotation table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

.quotation table td, .quotation table th {
  padding: 15px;
  background: #565676;
  border-bottom: 1px solid white;
}

.quotation table th {
  white-space: nowrap;
  font-weight: 300;
  font-size: 18px;
}

.quotation table td h3 {
  margin: 0;
  font-weight: bold;
  color: white;
  font-size: 22px;
}

.unit {
  text-align: left;
  font-size: 18px;
}

.quotation table .qty,.quotation table .total {
  text-align: right;
  font-size: 1.2em;
}

.quotation table .no {
  color: #fff;
  font-size: 1.6em;
  background: #367588;
}

.quotation table .unit {
  background: #367588;
}

.quotation table .total {
  background: #367588;
  color: #fff
}

.quotation table tbody tr:last-child td {
  border: none
}

.quotation table tfoot td {
  background: 0 0;
  border-bottom: none;
  white-space: nowrap;
  text-align: right;
  padding: 10px 20px;
  font-size: 1.2em;
  border-top: 1px solid #aaa
}

.quotation table tfoot tr:first-child td {
  border-top: none
}

.quotation table tfoot tr:last-child td {
  color: white;
  font-size: 30px;
  border-top: 1px solid #367588;
}

.quotation table tfoot tr td:first-child {
  border: none
}

.quotation-pcparts {
  color: white;
}

.quotation-type {
  color: #ffff66;
}

.quotation-submit {
  padding-left: 30px;
}